

<!DOCTYPE html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>SMART TUTOR</title>
    <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png" />
    <script>
        if (window.screen.height == 568) { // iPhone 4"
            document.querySelector("meta[name=viewport]").content = "width=320.1";
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- css -->
    <link rel="stylesheet" href="~/Content/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    <link rel="stylesheet" href="~/assets/css/style2.css">

    <!-- scripts -->
    <script src="~/Content/jquery-1.8.2.min.js"></script>
    <script src="~/Content/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
    <script src="~/assets/js/screen.js"></script>

</head>
<body>

    <div data-role="page">

        <!-- main content -->
        <div data-role="content" id="MyEditPageId">

            @if (ViewBag.CuizineType == "CERTIFICATE")
            {
                <!-- slider -->
                <div class="slider-outer">
                    <div class="slider-container">
                        <div id="camera_wrap">

                            <div data-src="assets/images/CLASSICBBQ/1.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom">
                                </div>
                            </div>

                            <div data-src="assets/images/CLASSICBBQ/2.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom" width="100%">
                                </div>
                            </div>

                            <div data-src="assets/images/CLASSICBBQ/3.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom" width="100%">
                                </div>
                            </div>

                            <!--<div data-src="assets/images/headers/4.jpg">
                            </div>-->

                        </div>
                    </div>
                    <br class="clear" />
                </div>
                <!-- /slider -->
            }

            @if (ViewBag.CuizineType == "DIPLOMA")
            {
                <!-- slider -->
                <div class="slider-outer">
                    <div class="slider-container">
                        <div id="camera_wrap">

                            <div data-src="assets/images/PLATTERS/1.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom">
                                </div>
                            </div>

                            <div data-src="assets/images/PLATTERS/2.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom" width="100%">
                                </div>
                            </div>

                            <div data-src="assets/images/PLATTERS/3.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom" width="100%">
                                </div>
                            </div>

                            <!--<div data-src="assets/images/headers/4.jpg">
                            </div>-->

                        </div>
                    </div>
                    <br class="clear" />
                </div>
                <!-- /slider -->
            }


            @if (ViewBag.CuizineType == "DEGREE")
            {
                <!-- slider -->
                <div class="slider-outer">
                    <div class="slider-container">
                        <div id="camera_wrap">

                            <div data-src="assets/images/ExecutiveSteak/1.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom">
                                </div>
                            </div>

                            <div data-src="assets/images/ExecutiveSteak/2.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom" width="100%">
                                </div>
                            </div>

                            <div data-src="assets/images/ExecutiveSteak/3.jpg" width="100%">
                                <div class="camera_caption fadeFromBottom" width="100%">
                                </div>
                            </div>

                            <!--<div data-src="assets/images/headers/4.jpg">
                            </div>-->

                        </div>
                    </div>
                    <br class="clear" />
                </div>
                <!-- /slider -->
            }


            <section>
                <h2>Provide the following</h2>

                <input type="hidden" id="CuizineTypeId" name="CuizineTypeId" value="@ViewBag.CuizineType" />

                <p>
                    <label for="People">
                        <span>No Of People:</span>
                        <strong><abbr title="required">*</abbr></strong>
                    </label>
                    <input type="number" id="People" name="People">
                </p>

                <p>
                    <label for="RequestDate ">
                        <span>Request Date: (2 days in advance)</span>
                        <strong><abbr title="required">*</abbr></strong>
                    </label>
                    <input type="date" id="RequestDate" name="RequestDate">
                </p>

                <p>
                    <label for="Duration">
                        <span>Duration: (Min 45 Minutes)</span>
                        <strong><abbr title="required">*</abbr></strong>
                    </label>
                    <input type="number" id="Duration" onchange="OnDuration()" name="Duration">
                </p>

                <p>
                    <label for="Description">
                        <span>Topic(Description):</span>

                    </label>
                    <input type="text" id="Description" name="Description">
                </p>

                <p>
                    <label for="AddressId">
                        <span>Place of Turtor:</span>

                    </label>
                    <input type="text" id="AddressId" name="AddressId">
                </p>

                <p>
                    <label for="Names">
                        <span>Name and Surname:</span>

                    </label>
                    <input type="text" id="Names" name="Names">
                </p>

                <p>
                    <label for="emailId">
                        <span>Email:</span>
                        <strong><abbr title="required">*</abbr></strong>
                    </label>
                    <input type="email" id="emailId" name="emailId">
                </p>

                <p>
                    <label for="phoneNo">
                        <span>Phone No:(start with country code e.g +27)</span>
                        <strong><abbr title="required">*</abbr></strong>
                    </label>
                    <input type="tel" id="phoneNo" name="phoneNo">
                </p>

                <label for="pricevalueId">
                    <span>Total Price:</span>
                </label>
                <input type="text" id="pricevalueId" name="pricevalueId" style="text-align:center; background-color: red;  color: white;" value="" disabled>

                <p id="TotalPriceId"></p>

                <p>
                    <input type="button" id="Request" onclick="myFunction()" value="Request Tutor" name="Request">
                </p>
            </section>

        </div>
        <!-- /content -->

    </div><!-- /page -->
    <!-- slider -->
    <script>
        jQuery(function () {
            jQuery('#camera_wrap').camera({

            });
        });
    </script>
    <!-- /slider -->

    <script>

        function showHide() {
            //create an object reference to the div containing images 
            var oimageDiv = document.getElementById('searchingimageDiv')
            //set display to inline if currently none, otherwise to none 
            oimageDiv.style.display = (oimageDiv.style.display == 'none') ? 'inline' : 'none'
        } 


        function myFunction() {

            var PeopleId = document.getElementById("People").value;
            var NamesId = document.getElementById("Names").value;
            var Duration = document.getElementById("Duration").value;
            var emailId = document.getElementById("emailId").value;
            var phoneNo = document.getElementById("phoneNo").value;
            var AddressId = document.getElementById("AddressId").value;
            var TotalPriceId = document.getElementById("pricevalueId").value;
            var CuizineTypeId = document.getElementById("CuizineTypeId").value;
            var Description = document.getElementById("Description").value;
            var RequestDate = document.getElementById("RequestDate").value;

            var MyIdInfo = PeopleId + "," + Description + "," + emailId + "," + phoneNo
                + "," + CuizineTypeId + "," + AddressId + "," + Duration  + "," + TotalPriceId + "," + RequestDate + "," + NamesId + "";

            if (PeopleId == "") {

                alert("Please enter no of people");
                return;
            }

            if (phoneNo == "") {

                alert("Please enter phone no.");
                return;
            }

            if (RequestDate == "") {

                alert("Please enter Request Date");
                return;
            }

            if (TotalPriceId == "") {

                alert("No Price Captured");
                return;
            }

            if (TotalPriceId < 0) {

                alert("Price Cannot be less than 0");
                return;
            }
            
            document.getElementById('MyEditPageId').style.display = 'none';
  
            window.location.href = "/MainMenu/SavePayments?PeopleId=" + MyIdInfo;

        }

        function OnDuration() {
            var PeopleId = document.getElementById("Duration").value;
            var CuizineTypeId = document.getElementById("CuizineTypeId").value;


            var results = parseInt(document.getElementById("Duration").value);


            if (CuizineTypeId == "CERTIFICATE")
            {
                if (results > 0) {
                    var answer = PeopleId / 0.45;
                    parseFloat(answer).toFixed(2);
                    document.getElementById("pricevalueId").value = "R" + parseFloat(answer).toFixed(2);;

                }

            }

            if (CuizineTypeId == "DIPLOMA") {
                if (results > 0) {
                    //document.getElementById("pricevalueId").value = "R300.00";

                    var answer = PeopleId / 0.50;

                    document.getElementById("pricevalueId").value = "R" + parseFloat(answer).toFixed(2);;

                }

            }

            if (CuizineTypeId == "DEGREE") {
                if (results > 0) {

                   // document.getElementById("pricevalueId").value = "R300.00";

                    var answer = PeopleId / 0.60;

                    document.getElementById("pricevalueId").value = "R" + parseFloat(answer).toFixed(2);;

                }


            }

                 }


    </script>

</body>
</html>