@{ Layout = null; }

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>The Uba Chef</title>
    <link rel="apple-touch-icon" href="~/assets/images/apple-touch-icon.png" />
    <script>
        if (window.screen.height == 568) { // iPhone 4"
            document.querySelector("meta[name=viewport]").content = "width=320.1";
        }
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- css -->
    <link rel="stylesheet" href="~/Content/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
    <link rel="stylesheet" href="~/assets/css/style2.css">



</head>

<div id="home-page" data-role="page">

    <!-- slider -->
    <script>
        jQuery(function () {
            jQuery('#camera_wrap').camera({

            });
        });
    </script>
    <!-- /slider -->
    <!-- header -->
    <div data-role="header" class="page-header">
        <div class="logo"></div>
    </div>
    <!--/header -->
    <!-- main content -->
    <div data-role="content">


        <section>
            <h2>Supplier Registration information</h2>

            <p>
                <label for="CompanyName">
                    <span>Company Name:</span>

                </label>
                <input type="text" id="CompanyName" name="CompanyName">
            </p>


            <p>
                <label for="CompanyProfile">
                    <span>Company Profile:</span>

                </label>
                <input type="file" id="CompanyProfile" name="CompanyProfile">
            </p>

            <p>
                <label for="BankingDetails">
                    <span>Banking Details:</span>

                </label>
                <input type="file" id="BankingDetails" name="BankingDetails">
            </p>



            <p>
                <label for="AddressId">
                    <span>Operational Area:</span>

                </label>
                <input type="text" id="AddressId" name="AddressId">
            </p>


            <p>
                <label for="emailId">
                    <span>Email:</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="email" id="emailId" name="emailId">
            </p>

            <p>
                <label for="phoneNo">
                    <span>Phone No:(start with country code e.g +27)</span>
                    <strong><abbr title="required">*</abbr></strong>
                </label>
                <input type="tel" id="phoneNo" name="phoneNo">
            </p>

            <p>
                <label for="Remarks">
                    <span>Remarks (Order/ Delivery Times, Halal/ Non Halal and any other info) :</span>

                </label>
                <input type="text" id="Remarks" name="Remarks">
            </p>

            <p>
                <input type="button" id="Register" onclick="myFunction()" value="Register as a supplier" name="Register">
            </p>
        </section>

    </div>
    <script>
        function myFunction1() {


            var CompanyName = document.getElementById("CompanyName");
            var CompanyProfile = document.getElementById("CompanyProfile");
            var numberofplates = 0;

            var data = CompanyName + "," + CompanyProfile + "";

            if (CompanyName == "") {

                alert("Please enter Company Name");
                return;
            }

            window.location.href = "/SupplierMobileRegister/insert?data=" + data;

        }

    </script>
</div>





